
#contentWrap{
	float:right;
	width: 80%;
	background-color: #EDC393;
	position: absolute;
	right:0;
	font-family: 'Open Sans', sans-serif;

}
	#contentWrap h1{
		font-family: 'Stalemate', cursive;
		font-size: 500%;
		text-align: center;
		color:#CC7F32;
	}



	div.banner{
		margin:auto;
		width: 60%;
	}

	div img{
		display: block;
		width:50%;
    	margin-left: auto;
    	margin-right: auto;

		border-radius:20px;
		border: 2px solid #CC7F32;

      }
      	.intro{
		margin-top:5%;
		}

	p{
		color:643B0F;
		margin:0 auto;
		font-size: 120%;
		}
	ul{
		color:#CC7F32;
		margin:0 auto;
		font-size: 120%	;
		margin-top:5%;	
	}
	ul li{
		padding:10px;
	}
	ul li a{
		color:#CC7F32;
	}
	.menu{
		text-align: center
	}
	.menu li{
		list-style-type: none;
	}

.footer{
	padding: 10px;
}

/*.circular {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(https://i.imgur.com/rW4kgJR.jpg) no-repeat;
	background-size: 400px 350px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	}*/

	.img-circle{
		margin-top: 50px;
		

	}