.nav{
	display: inline;
}
#sidebar{
	float: left;
	width: 20%;
	background-color: #603311;
	position: absolute;
	height:100%;
}
#sidebar h1{
	font-family: 'Fredericka the Great', cursive;
	font-size: 400%;
	text-align: center;
	color:#CC7F32;
}

#sidebar h2{
	font-family: 'Stalemate', cursive;
	font-size:350%;
	text-align: center;
	color:#CC7F32;
}
ul.nav li a {
	color:#CC7F32;
	font-size:150%;

}
ul.nav{
	text-align: center;
}

#contentWrap{
	float:right;
	width: 80%;
	background-color: #EDC393;
	position: absolute;
	right:0;
	height:100%;

}
#contentWrap h1{
	font-size: 150%;
	text-align: center;
	color:#CC7F32;
}

img{
	position:absolute;
	width:20%;
	float:center;
		}

p{
	color:#CC7F32;
}
