#contentWrap{
	float:right;
	width: 80%;
	background-color: #EDC393;
	
	right:0;
}
	#contentWrap h1{
		font-family: 'Stalemate', cursive;
		font-size: 500%;
		text-align: center;
		color:#CC7F32;
	}
	#contentWrap h2{
		font-family: 'Stalemate', cursive;
		font-size: 500%;
		color:#CC7F32;
		margin-bottom: 0.4em;
			}
		#contentWrap h3{
		font-family: 'Stalemate', cursive;
		font-size: 300%;
		color:#CC7F32;
	}
.recipe{
		margin: auto;
		width:75%;
}
	 .outer{
	 	height: 580px;
	 	vertical-align: middle;
	 }
	 .long{height:750px;}
	 .extralong{
	 	height:960;
	 }
	.outer .text{
		width:50%;
		float: left;
	}
	.image {
		width:50%;
		height:100%;
		display:inline-block;
		padding-top: 100px;
		float:right;			
		}
.extra{
	padding-top: 200px
}
	img {
		width: 100%;
		vertical-align: middle;
		display:block;
		margin:0 auto;
		max-width:500px;
		/*margin-right:6%;*/
		border-radius:30px;
		border: 2px solid #CC7F32;
	}


	p{
		color:643B0F;
		font-size:120%;
		line-height: 120%;
	}
	ul{
		color:643B0F;
		font-size:120%;
	}
	ul li{
		padding: 5px;
	}
	.Intro{
		font-family: "Times New Roman", Times, serif;
		font-size: 120%;
		font-style:italic;
		margin-bottom: 40px;

		
	}
		.Intro a{
			color:643B0F;
		}


	@media (max-width:1000px){
		.outer{
			height:400px;
		}
		.image{
			width:100%;
			height:100%;
			padding-top:0;
 }
 .text{
 	width:40% !important;
 	margin-right:80px;
 }
}

  /*#contentWrap .image{
  	float: none;
  	height:80px;
  	margin:0 auto;
  }
  .contentWrap h2{
    /*font-size: 20px;
    margin:20px 0 30px 0;
  }
  
  p{
    /*font-size: 20px;
    line-height: 24px;
    }
    
}*/
