
#contentWrap{
	float:right;
	width: 80%;
	/*border:1px solid #EDC393;*/
	position: absolute;
	right:0;
	
}
/*	float:left; 
	width:33%;
	height:35%;
	border:1px solid #CC7F32;
}*/
#contentWrap div img{
	max-width:100%;
	max-height:100%;
	border:1px solid #CC7F32;
}

.nopadding{ 
	padding: 0 !important;
	margin: 0 !important;
}
