
#contentWrap{
	float:right;
	width: 80%;
	/*border:1px solid #EDC393;*/
	
	right:0;
  
}
/*	float:left; 
	width:33%;
	height:35%;
	border:1px solid #CC7F32;
}*/
#contentWrap div img{
	max-width:100%;
	max-height:100%;
	border:1px solid #CC7F32;
}

.nopadding{ 
	padding: 0 !important;
	margin: 0 !important;
}
.row{
  margin-left: 0;
  margin-right: 0;
}
.container{
  padding:0px;
  margin:0px;
}
/*p {
  color: rgba(255,255,255,1);
  background: black;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  padding: 10px;
  line-height: 28px;
  text-align: justify;
  position: absolute;
  bottom: 0;
  margin: 0;
  height:30px;
  transition:height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
}*/

.fade {
    opacity: 0.5;
}
