.nav{
	display: inline;
}


#sidebar{
	float: left;
	width: 20%;
	background-color: #603311;
	position: absolute;
  	top: 0;
  	bottom: 0;;
}
#contentWrap{
	float:right;
	width: 80%;
	/*border:1px solid #EDC393;*/
	position: absolute;
	right:0;
	height:100%;
}
#contentWrap div {
	float:left; 
	width:33%;
	height:35%;
	border:1px solid #CC7F32;
}
#contentWrap div img{
	max-width:100%;
	max-height:100%;
}

h1{
	font-family: 'Fredericka the Great', cursive;
	font-size: 400%;
	text-align: center;
	color:#CC7F32;
}

h2{
	font-family: 'Stalemate', cursive;
	font-size:350%;
	text-align: center;
	color:#CC7F32;
}
ul.nav li a {
	color:#CC7F32;
	font-size:150%;
	text-decoration: none;
	font-family: 'Fredericka the Great', cursive;
	padding: 50px;
}
ul.nav{
	text-align: center;
}